<h3>My orders</h3>

<table class="user">
  <thead>
    <tr>
      <td>
        <a href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse">
          Status 
          <!-- <span class="fa fa-caret-down"></span> -->
          <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-up"></span>
          <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-down"></span>
        </a>
      </td>
      <td>
        <a href="#" ng-click="sortType = 'type'; sortReverse = !sortReverse">
          Type 
          <!-- <span class="fa fa-caret-down"></span> -->
          <span ng-show="sortType == 'type' && !sortReverse" class="fa fa-caret-up"></span>
          <span ng-show="sortType == 'type' && sortReverse" class="fa fa-caret-down"></span>
        </a>
      </td>
      <td>
        <a href="#" ng-click="sortType = 'price'; sortReverse = !sortReverse">
          Price 
          <!-- <span class="fa fa-caret-down"></span> -->
          <span ng-show="sortType == 'price' && !sortReverse" class="fa fa-caret-up"></span>
          <span ng-show="sortType == 'price' && sortReverse" class="fa fa-caret-down"></span>
        </a>
      </td>
      <td>
        <a href="#" ng-click="sortType = 'asset1'; sortReverse = !sortReverse">
          {{$ctrl.pair.amountAsset.shortName}} 
          <!-- <span class="fa fa-caret-down"></span> -->
          <span ng-show="sortType == 'asset1' && !sortReverse" class="fa fa-caret-up"></span>
          <span ng-show="sortType == 'asset1' && sortReverse" class="fa fa-caret-down"></span>
        </a>
      </td>
      <td>
        <a href="#" ng-click="sortType = 'asset2'; sortReverse = !sortReverse">
          {{$ctrl.pair.priceAsset.shortName}} 
          <!-- <span class="fa fa-caret-down"></span> -->
          <span ng-show="sortType == 'asset2' && !sortReverse" class="fa fa-caret-up"></span>
          <span ng-show="sortType == 'asset2' && sortReverse" class="fa fa-caret-down"></span>
        </a>
      </td>
    </tr>
  </thead>
</table>

<waves-scrollbox>
  <table class="user">
    <tbody>

      <tr ng-repeat="order in $ctrl.orders | orderBy:sortType:sortReverse"
          ng-class="{
            'filled': order.status === 'Filled' || order.status === 'Cancelled',
            'not-found': order.status === 'NotFound'
          }">
        <td>{{order.statusTitle}}</td>
        <td class="type" ng-class="order.type">{{order.typeTitle}}</td>
        <td>{{order.price | number:8}}</td>
        <td>{{order.amount | number:8}}</td>
        <td>{{order.total | number:8}}</td>
        <td ng-click="$ctrl.cancel({order: order})">&times;</td>
      </tr>
      <tr ng-if="!$ctrl.orders.length">
        <td colspan="6">
          <span>Create your first order!</span>
        </td>
      </tr>
    </tbody>
  </table>
</waves-scrollbox>
